<div class="main-body">
    <h1 class="h1 text-center mb-3">Welcome to Das News - An International News Scraper</h1>   
    <h2 class="h2 text-center">Click above to view saved articles or scrape new articles</h2>
    <h6 class="powered h6 text-right pb-5 mr-4">POWERED BY </br><a href="https://www.reuters.com/news/world" target="_blank"><img class="aplogo" alt="AP News logo" src="/images/aplogo.png"></a>
</div>