.navbar {
    background: #f5f5f5;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
}

.navbar a {
    font-size: 22px;
}

.navbar a:hover {
    text-decoration: underline;
}

#header-jumbo {
    background: url("/images/newspaperstack.png") center bottom no-repeat;
    background-size: 100% auto;
}

.main-body {
    min-height: calc(100vh - 300px);
}

.powered {
    margin-top: calc(100vh - 550px);
}

.aplogo {
    max-height: 80px;
}

footer {
    min-height: 60px;
    background: #f5f5f5;
}

footer p {
    padding: 30px 0;
}